<div class="post-interaction">
    <div class="note-count">
        <a href="/{{post_url}}?note_viewer={{element.default_note_viewer_tab}}"> {{- translate(request.ctx.language, "post_note_count", element.note_count, element.note_count | format_decimal(locale=request.ctx.language)) }}</a>
    </div>
    <div class="interaction-buttons">
        <a href="/{{post_url}}">
            <span>[Share]</span>
        </a>

        <a href="https://www.tumblr.com/{{post_url}}" rel="noreferrer">
            <span>[Tumblr]</span>
        </a>
    </div>
</div>