{% from 'components/icons/search.jinja' import search_icon  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="never">
    <meta name="referrer" content="no-referrer">
    <link rel="preload" href="/assets/css/base.css?v={{app.ctx.CURRENT_COMMIT}}" as="style">
    <link rel="preload" href="/assets/css/base-post-layout.css?v={{app.ctx.NPF_RENDERER_VERSION}}" as="style">
    <link rel="stylesheet" type="text/css" href="/assets/css/base.css?v={{app.ctx.CURRENT_COMMIT}}">
    <link rel="stylesheet" type="text/css" href="/assets/css/base-post-layout.css?v={{app.ctx.NPF_RENDERER_VERSION}}">
    <link rel="stylesheet" type="text/css" href="/assets/css/post.css?v={{app.ctx.CURRENT_COMMIT}}">
    <link rel="stylesheet" type="text/css" href="/assets/css/post-layout.css?v={{app.ctx.CURRENT_COMMIT}}">
    <script src="/assets/js/base.js?v={{app.ctx.CURRENT_COMMIT}}" defer></script>
    <script src="/assets/js/post.js?v={{app.ctx.CURRENT_COMMIT}}" defer></script>
    <noscript><style>.with-js {display: none;}</style></noscript>
    <script src="/assets/js/interaction.js?v={{app.ctx.CURRENT_COMMIT}}" defer></script>
    {%- block head -%}
    {%- endblock -%}

    <title>{% block title %}{% endblock %} {{translate(request.ctx.language, "page_title_suffix")}} </title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="left-section">
                <a class="logo" href="/">Hyperblur</a>
                <form class="search-bar" method="get" action="/search" autocomplete="off">
                    <span>Search: </span>
                    {%- if query is defined -%}
                        <input name="q" type="text" value="{{query | e}}" placeholder="{{ translate(request.ctx.language, "search_bar_placeholder_text" )}}"></input>
                    {%- elif tag is defined -%}
                        <input name="q" type="text" value="#{{tag | e}}" placeholder="{{ translate(request.ctx.language, "search_bar_placeholder_text") }}"></input>
                    {%- else -%}
                        <input name="q" type="text" placeholder="{{ translate(request.ctx.language, "search_bar_placeholder_text") }}"></input>
                    {%- endif -%}
                </form> 
            </div>
            <div class="center-section">
                <a class="nav-tab{% if request.endpoint and request.endpoint == "Hyperblur.explore._today" %} selected-tab{% endif %}" href="/explore/today">[Today]</a>
                <a class="nav-tab{% if request.endpoint == "Hyperblur.explore._trending"%} selected-tab{%endif%}" href="/explore/trending">[Trending]</a>
            </div>
            <div class="right-section">
            </div>
        </nav>
        <div class="contents">
            <div class="left-column"></div>
            <div class="center-column">
                {%- block center -%}
                {%- endblock -%}
            </div>
            <div class="right-column"></div>
        </div>
        <div class="buffer"></div>
        <footer class="page-footer">
            <a href="https://github.com/dsbok/hyperblur">Source</a>
        </footer>
    </div>
</body>
</html>